@import '../../styles/main';

.todoItem {
  width: 200px;
  height: 200px;
  padding: 5px;

  text-transform: capitalize;

  background: $task-card-bg;
  border: 2px solid $column-border;
  border-radius: 3px;
}
