@import '../../styles/main';

.todoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100px;
  padding: 5px;

  text-transform: capitalize;

  background: $task-card-bg;
  border-radius: 3px;
  box-shadow:
    rgb(50 50 93 / 25%) 0 2px 5px -1px,
    rgb(0 0 0 / 30%) 0 1px 3px -1px;
}

.taskFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.taskId {
  font-size: 12px;
}
