$white: #fff;
$main-bg: #039be5;
$column-bg: #f5f5f5;
$task-card-bg: #fff;
$drag-over-bg: #fbe9e7;
$item-idr-bg: #b9f6ca;
$remove-btn-bg: #f44336;
$remove-btn-hover-bg: #e53935;
$base-transition: 0.25s ease;
