@import '../../styles/main';

.columnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  width: 210px;
  min-height: 500px;
  padding: 5px;

  background: $column-bg;
  border-radius: 3px;
}

.columnTitle {
  margin: 0 0 10px;
}
