@import '../../styles/main';

.columnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  width: 214px;
  min-height: 500px;
  padding: 5px;

  border: 2px solid $column-border;
  border-radius: 3px;
}
